.container-fluid  .row .col-md-6 {column-count: @count;}
.container-fluid  .row .col-md-6 h1 {font-size: 2em;}
.container-fluid  .row .col-md-6 p {font-size: 2em;}
.container-fluid  .row .col-md-6 a img {padding-left: 20%:}
.container-fluid  .row .col-md-6 p {padding-right: 20%:}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















